Source: vdr-plugin-vnsiserver
Section: misc
Priority: extra
Maintainer: Alexander Pipelka <alexander.pipelka@gmail.com>
Build-Depends: debhelper (>= 5), cdbs, dpatch, vdr-dev (>= 1.6.0)
Standards-Version: 3.8.0

Package: vdr-plugin-vnsiserver
Architecture: any
Depends: ${shlibs:Depends}, ${vdr:Depends}
Description: XBMC VNSI plugin for VDR
 This plugin for VDR allows XBMC clients to connect.
